.weather-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 70px;
}
.weather-page .enter-city-block {
  display: flex;
  border-bottom: 3px solid var(--black);
  align-items: center;
  width: fit-content;
}
.App.night .weather-page .enter-city-block {
  border-color: var(--white);
}
.weather-page button svg {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.weather-page input {
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  font-size: 36px;
  background-color: transparent;
  font-family: var(--font-family);
}

.weather-page input::placeholder {
  font-weight: 500;
  font-size: 36px;
  color: #bababa;
}
